body {
    font-family: "Times New Roman", serif;
    font-style: italic;
}

#app {
    padding: 10px;
}

.form {
    margin-top: 10px;
}

.party-place {
    padding-top: 5px;
    display: block;
}

.tag-close {
    margin-left: 5px;
    color: white;
    font-size: 13px;
}

.tags.disabled .tag-close {
    display: none;
}

.tag,
.tag:hover,
.tag:active {
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 3px 8px;
    font-size: 16px;
    background-color: #404040;
    border-color: #333;
}

.tags.disabled .tag,
.tags.disabled .tag:visited,
.tags.disabled .tag:hover,
.tags.disabled .tag:active {
    background-color: #808080;
    border-color: #666;
    cursor: default;
}

.loader {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    padding-top: 120px;
    background-color: rgba( 0, 0, 0, 0.7 );

    text-align: center;
    color: white;
    font-size: 30px;
}

.loader.loading {
    display: block;
}